.backgroundimage
{width:100%;
    height:150%;
    background-image:url(" images/login.jpg");
    background-size: cover;
    position:absolute; 



}

.anotherimage
{width:60%;
    height:60%;
    background-image:url(" images/teacher.png");
    background-size: cover;
    position:absolute; 
border:2px solid black;
margin-left: 280px;

}
.button
{
    height:100px;
width:460px;
           color: white;
  
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    cursor: pointer;
margin-top:640px;
margin-left:100px;
}
.button1:hover {
    background-color:grey;
    color: white;
  }


  .aboutus
  { background-color:beige;
    margin-top: 1300px;  
    box-align:center;
    border:2px solid black;
    height: 130px;
width: 788px;
margin-left: 330px;
  }